{
  "presets": [
    "@babel/env",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    ["wildcard", {
      "exts" : ["js", "ts", "es6", "es", "jsx", "javascript"]
    }]
  ]
}
